@media screen and (max-width: 1100px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
  }

  .section-container {
    @apply w-[375px];
  }

  .mob-center {
    text-align: center;
    justify-self: center;
  }
  #intro {
    @apply py-0 pb-16 my-16 flex flex-col-reverse;
  }

  #statistic-grid {
    @apply grid grid-cols-1 gap-7 p-6 text-center;
  }
  #footer-links {
    @apply grid grid-cols-1 gap-8 font-bold text-white text-[14px];
  }
}
