@media screen and (max-width: 1100px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
  }

  .section-container {
    @apply w-[375px];
  }

  .mob-center {
    text-align: center;
    justify-self: center;
  }
  #intro {
    @apply py-0 my-16 flex flex-col-reverse;
  }
}
