@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body {
  width: 100%;
}
#root {
  @apply overflow-x-hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#intro {
  @apply py-10 grid grid-cols-2;
  grid-template-columns: 50% 50%;
}

#statistic-grid {
  @apply grid grid-cols-3 gap-7;
}

#statistic-grid .Aspect-box:nth-child(1) {
  transform: translateY(-50px);
}
#statistic-grid .Aspect-box:nth-child(3) {
  transform: translateY(50px);
}

.new-link-box {
  animation: wa 1s;
}

#footer-links {
  @apply grid grid-cols-3 font-bold text-white text-[14px];
}
#footer-links h3 {
  @apply text-[12px] pb-2;
}
#footer-links a {
  @apply block font-normal leading-6 text-[12px] text-small-text;
}

.transition-bg {
  transition: background-color 0.2s;
}

.section-container {
  @apply w-[1100px];
}

.center-web {
  @apply flex items-center flex-col;
}
.nav-links {
  @apply px-4 rounded-full;
  font-weight: 700;
}
.button {
  @apply py-2 px-6 rounded-full text-white bg-sing-up hover:bg-sing-up-hover;
  font-weight: 700;
}

.mobile-only {
  display: none;
}
